[GENERAL]
# List absolute path name
db_path = path/to/db

[PATH]
work_folder = /path/to/working/work_folder
p_storage = /path/to/final/photo/p_storage
p_in = /path/to/photo/folder/input
results = /path/to/result

[ARCHIVE]
# Current version of Shadow Backup uses 7zip to archive photos. List those details below
sevenz_path = /path/to/7z/executable
vol_size = Max size per file you want your archive to be split to
output = /path/to/archive/storage/folder
password = PASSWORD for archive

